<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/cadastro.css">
  <link rel="stylesheet" href="/css/listaproduto.css">
  <script src="https://kit.fontawesome.com/0221ca4ba5.js" crossorigin="anonymous"></script>
  <title>Pet Shop</title>
</head>
  <body>
    <main class="princpal">
      <div  class="container">
        <img src="/img/Imagem-pet.png" alt="" class="imagem__lateral">
          <section class="cadastro">
            <ul class="menu">
              <li class="menu__item"><a href="/" class="menu__link">Cadastrar Produtos</a></li>
              <li class="menu__item"><a href="/listaprodutos" class="menu__link">Listar Produtos</a></li>
            </ul>
            {{{body}}}
          </section>
      </div>
    </main>
    <script src="/js/listarprodutos.js"></script>
  </body>
</html>

