<h1 class="cadastro__titulo">Cadastro de Produto</h1>
<form action="" method="POST" class="cadastro__formulario">
  <label for="nome-produto" class="cadastro__texto">Nome do Produto:</label>
  <input type="text" name="nome" id="nome-produto" class="cadastro__input" required>
  <div class="cadastro__colunas">
    <label for="preco" class="cadastro__texto cadastro__texto-preco">Preço:</label>
    <input type="text" name="preco" id="" class="cadastro__input cadastro__input-preco" required>
    <label for="data" class="cadastro__texto cadastro__texto-fabricacao">Data de fabricação:</label>
    <input type="date" name="data" id="" class="cadastro__input cadastro__input-fabricacao" required>
  </div>
  <label for="" class="cadastro__texto">Público alvo:</label>
  <input type="text" name="publico" id="" class="cadastro__input" required>
  <button type="submit" class="cadastro__botao" id="botao__salvar">Salvar</button>
</form>
